button{
    color:black;
    background-color: transparent;
width: 150px;
height: 40px;
}
button:hover{
    background-color: black;
    color: aliceblue;
}
@media screen and (max-width: 700px) {
    button{
        width: 70px;
        height: 30px;
        font-size: 12px;
    }
}